# Application Settings
PORT=8080
ENV=development

# Database Settings
DATABASE_URL=postgres://username:password@localhost:5432/go_beresin?sslmode=disable

# Redis Settings
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=!Abcd1234

# JWT Settings
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION_HOURS=24
